.DEBUG-blue {
    background-color: blue;
}

.DEBUG-green {
    background-color: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    /* var(--col-uno) */
    /* var(--col-due) */
    /* var(--col-tre) */
    /* var(--col-quattro) */

    --col-uno: #C06014;
    --col-due: #536162;
    --col-tre: #424642;
    --col-quattro: #F3F4ED;




    /* --col-uno: #025464;
    --col-due: #E57C23;
    --col-tre: #E8AA42;
    --col-quattro: #F8F1F1; */

    /* --col-uno: #677BF5;
    --col-due: #B168DE;
    --col-tre: #F56791;
    --col-quattro: #EB8E63; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--col-quattro);
}

.colonna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.riga {
    padding: 20px 50px;
    width: 100%;
}

* {
    /* var(--w-carosello) */
    --w-carosello: 1200px;
    /* var(--h-carosello) */
    --h-carosello: calc((9/16)*var(--w-carosello));

}

.top {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 0 20px; */
}

.cont-qual {
    width: 100%;
    padding: 10px;
}

.qualita {
    width: 10%;
}

.cont-MML {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.cont-MML>img {
    width: 25%;
    margin-bottom: 30px;
    margin-right: 30px;
}



.titolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
    width: 100%;
}

.logo {
    max-width: 100%;
}

.asdp {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-weight: bold;
}

.riga-slogan {
    background-color: white;
}



.slogan {
    padding: 5px;
    border-radius: 20px;
    color: #de235b;
    background-color: white;
    border: 5px solid #ffffff;
    text-align: center;
    position: relative;
    margin: 0;

}

.slogan:hover {
    border: 5px solid #de235b;
}

.riga-carosello {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    width: 100%;
    background-color: white;






}

.finestra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.carosello {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.imgCar {
    /* max-height: var(--h-carosello); */
    width: 100%;
    height: auto;
}



.tasto {

    /* position: absolute; */
    width: 30px;
    height: var(--h-carosello);
    z-index: 500;
    background-color: rgba(229, 249, 255, 0.82);
    display: flex;
    align-items: center;
    justify-content: center;

}

.tasto:hover {
    background-color: rgb(255, 255, 255);
}

/* micro */
.comandi {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 340px;
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comandi>.tasto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.campus {
    background-color: var(--col-due);
    /* display: flex; */

}

.cont-showinf {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#showInfo1,
#showInfo2 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-uno);
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.2s linear 0s;
    margin: 100px;

}

#showInfo1:hover,
#showInfo2:hover {
    border-radius: 30px;
}

.infoCampus {
    display: none;
    flex-direction: column;
}

.vereinfo {
    display: flex;
}

.visibile {
    display: flex;
}

* {
    /* var(--w-sinistra) */
    --w-sinistra: 60%;
}

.card {
    padding: 20px;
    width: 100%;
    background-color: azure;
    border-radius: 10px;
}

.sinistra {
    margin: var(--margin-volantino);

}

.programma {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.orario {
    /* max-width: 300px; */
    display: flex;
    /* justify-content: space-between; */
}

.ora {
    width: 150px;
}

.cont-link-sch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.link-sch {
    text-decoration: none;
}

.sch-iscr {
    background-color: var(--col-uno);
    padding: 20px;
    color: white;
    transition: all 0.1s linear 0s;
    border-radius: 100px;

}


.sch-iscr:hover {
    background-color: #1693ac;
    padding: 20px;
    color: white;




}

.sch-iscr>.icon {
    margin-left: 10px;
}



.cont-vol {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - var(--w-sinistra));


}

.volantino {

    display: block;
    max-width: 100%;

    border-radius: 10px;


    width: auto;
    height: auto;
}



* {
    /* var(--margin-volantino) */
    --margin-volantino: 5px;
}

.link-vol {

    padding: var(--margin-volantino);
}

.link-vol:hover {
    background-color: rgba(255, 255, 255, 0.231);
}

footer {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    color: white;
}

.luogo {
    background-color: rgb(167, 240, 167);
}

.rg-pers {
    background-color: var(--col-tre);
}

.persone {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.persona {
    display: flex;
    flex-direction: column;
    /* il flex-start serve per il border-bottom del nome */
    align-items: flex-start;
    padding: 30px;
    border-radius: 30px;
    margin: 20px 5px;
    background-color: rgb(141, 222, 195);
    width: 280px;
    /* max-width: 33%; */

}

.persona>.nome {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
}

.persona>.posizione {
    color: rgb(161, 161, 161);
    font-size: 13px;
    padding: 5px;
    max-width: 80%;

}

.cento {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.icona {
    margin-right: 20px;
}

.contatto {
    display: flex;
    /* justify-content: space-between; */
    /* width: 170px; */
    margin-bottom: 10px;
}


@media screen and (max-width: 900px) {


    .qualita {
        width: 15%;
    }

    .comandi {
        display: flex;
    }

    .riga {
        padding: 5px;
    }


    .colonna {
        width: 100%;
    }


    .cont-MML>img {
        width: 200px;
    }

    .vereinfo {
        flex-direction: column;
        align-items: center;
    }


    .sinistra {
        width: 100%;
        margin-bottom: 30px;
    }

    .cont-vol {
        width: 100%;
    }




}




@media screen and (max-width: 400px) {


    .qualita {
        width: 20%;
    }

    .asdp {
        margin: 0 10px;
    }

    .orario {
        flex-direction: column-reverse;
        font-weight: bold;

    }

    .ora {
        font-weight: 500;
    }


}

@media screen and (max-width: 300px) {
    .riga {
        padding: 10px;
    }

    .cont-MML {
        display: flex;
        justify-content: center;
    }

    .asdp {
        font-size: 13px;
    }

    .cont-MML>img {
        margin-right: 0;
    }


    .carosello {
        height: 200px;
        width: auto;


    }

    .imgCar {
        height: 200px;
        width: auto;
    }


}