.DEBUG-blue {
    background-color: blue;
}

.DEBUG-green {
    background-color: green;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colonna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.riga {
    padding: 20px 50px;
    width: 100%;
}

* {
    /* var(--w-carosello) */
    --w-carosello: 1200px;
    /* var(--h-carosello) */
    --h-carosello: calc((9/16)*var(--w-carosello));

}

.finestra {
    /* height: var(--h-carosello); */
    width: var(--w-carosello);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;




    /* background-color: blue; */



}

.riga-carosello {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--w-carosello);
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.carosello {
    height: var(--h-carosello);
    width: calc(var(--w-carosello) - (2 * var(--w-tasto)));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: var(--col-tasto);


}

.imgCar {
    /* max-height: var(--h-carosello); */
    width: 100%;
}



.riga-didasc {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    position: relative;

    /* background-color: aqua; */
}

.didascalia {

    width: calc(100% - (2 * var(--w-tasto)));
    height: 100px;

    color: rgb(0, 0, 0);
    display: flex;


    /* background-color: rgb(215, 215, 215); */
}

* {
    /* var(--w-title) */
    --w-title: 70%;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    width: var(--w-title);
}

.text {
    width: calc(100% - var(--w-title));

    font-size: 22px;
    overflow-y: scroll;
}

* {
    /* var(--w-tasto) */
    --w-tasto: 40px;
    /* var(--col-tasto) */
    --col-tasto: rgba(11, 202, 235, 0.153);


}

.tasto {

    /* position: absolute; */
    width: var(--w-tasto);
    height: var(--h-carosello);
    z-index: 500;
    background-color: var(--col-tasto);
    display: flex;
    align-items: center;
    justify-content: center;

}

.tasto:hover {
    background-color: rgba(87, 199, 199, 0.5);
}

.indietro_macro {
    left: 0;
    border-radius: 15px 0px 0px 15px;
    /* background-color: blueviolet; */
}


.avanti_macro {
    right: 0;
    border-radius: 0px 15px 15px 0px;
    /* background-color: rgb(43, 226, 198); */
}


/* micro */
.comandi {
    display: none;
    justify-content: center;
    height: 40px;
    width: 340px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.comandi>.tasto {
    width: 100%;
    height: 100%;
}


.campus {
    padding: 10px;
    background-color: rgba(137, 43, 226, 0.162);
    max-width: 1000px;
}

.cont-showinf {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showInfo {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s linear 0s;

}

#showInfo:hover {
    border-radius: 25px;
    background-color: rgb(2, 105, 105);
}

.infoCampus {
    display: none;
    flex-direction: column;
}

.visibile {
    display: flex;
}

.orario {
    /* max-width: 300px; */
    display: flex;
    /* justify-content: space-between; */
}

.ora {
    width: 150px;
}

.volantino {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    color: white;
}

.luogo {
    background-color: rgba(0, 128, 0, 0.105);
}

.persone {
    display: flex;
}

.persona {
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(127, 255, 212, 0.201);

}

.cento {
    width: 100%;
}

.contatto {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-bottom: 10px;
}



@media screen and (max-width: 1240px) {

    * {
        /* var(--w-carosello) */
        --w-carosello: 1000px;

    }

}

@media screen and (max-width: 1050px) {

    * {
        /* var(--w-carosello) */
        --w-carosello: 900px;

    }

}

@media screen and (max-width: 920px) {

    * {
        /* var(--w-carosello) */
        --w-carosello: 800px;

    }

}

@media screen and (max-width: 900px) {
    .indietro_macro {
        display: none;
    }

    .carosello {
        background-color: rgba(0, 0, 0, 0);
        width: 100vw;
        height: auto;
    }

    .avanti_macro {
        display: none;
    }

    .comandi {
        display: flex;
    }

    .didascalia {
        display: none;
    }

    .colonna {
        width: 100%;
    }
}