.DEBUG-blue {
    background-color: blue;
}

.DEBUG-green {
    background-color: green;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    /* background-color: #68de72; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* var(--col-uno) */
    --col-uno: #677BF5;
    /* var(--col-due) */
    --col-due: #B168DE;
    /* var(--col-tre) */
    --col-tre: #F56791;
    /* var(--col-quattro) */
    --col-quattro: #EB8E63;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colonna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.riga {
    padding: 20px 50px;
    width: 100%;
}

* {
    /* var(--w-carosello) */
    --w-carosello: 1200px;
    /* var(--h-carosello) */
    --h-carosello: calc((9/16)*var(--w-carosello));

}

.cont-MML {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.cont-MML>img {
    width: 25%;
}



.titolo {
    display: flex;
    margin-top: 150px;
}

.logo {
    max-width: 100%;
}

.asdp {
    margin-bottom: 150px;
}

.slogan {
    margin: 70px 0;
    padding: 20px;
    color: #de235b;
    border-bottom: 1px solid var(--col-uno);
}

.finestra {
    /* height: var(--h-carosello); */
    width: var(--w-carosello);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;




    /* background-color: blue; */



}

.riga-carosello {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--w-carosello);
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.carosello {
    height: var(--h-carosello);
    width: calc(var(--w-carosello) - (2 * var(--w-tasto)));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: var(--col-tasto);


}

.imgCar {
    /* max-height: var(--h-carosello); */
    width: 100%;
}



.riga-didasc {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    position: relative;

    /* background-color: aqua; */
}

.didascalia {

    width: calc(100% - (2 * var(--w-tasto)));
    height: 100px;

    color: rgb(0, 0, 0);
    display: flex;


    /* background-color: rgb(215, 215, 215); */
}

* {
    /* var(--w-title) */
    --w-title: 70%;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    width: var(--w-title);
}

.text {
    width: calc(100% - var(--w-title));

    font-size: 22px;
    overflow-y: scroll;
}

* {
    /* var(--w-tasto) */
    --w-tasto: 40px;
    /* var(--col-tasto) */
    --col-tasto: rgba(11, 202, 235, 0.153);


}

.tasto {

    /* position: absolute; */
    width: var(--w-tasto);
    height: var(--h-carosello);
    z-index: 500;
    background-color: var(--col-tasto);
    display: flex;
    align-items: center;
    justify-content: center;

}

.tasto:hover {
    background-color: rgba(87, 199, 199, 0.5);
}

.indietro_macro {
    left: 0;
    border-radius: 15px 0px 0px 15px;
    /* background-color: blueviolet; */
}


.avanti_macro {
    right: 0;
    border-radius: 0px 15px 15px 0px;
    /* background-color: rgb(43, 226, 198); */
}


/* micro */
.comandi {
    display: none;
    justify-content: center;
    height: 40px;
    width: 340px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.comandi>.tasto {
    width: 100%;
    height: 100%;
}


.campus {
    background-color: var(--col-due);
    /* display: flex; */

}

.cont-showinf {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#showInfo1,
#showInfo2 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-quattro);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.7s linear 0s;
    margin: 100px;

}

#showInfo1:hover,
#showInfo2:hover {
    /* border-radius: 25px;
    background-color: rgb(2, 105, 105); */
    position: absolute;
    padding: 10px 30px;
    /* font-size: 20px; */
    /* font-weight: bold; */
}

.infoCampus {
    display: none;
    flex-direction: column;
}

.vereinfo {
    display: flex;
}

.visibile {
    display: flex;
}

* {
    /* var(--w-sinistra) */
    --w-sinistra: 60%;
}

.sinistra {
    width: var(--w-sinistra);
}

.orario {
    /* max-width: 300px; */
    display: flex;
    /* justify-content: space-between; */
}

.ora {
    width: 150px;
}

.cont-vol {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - var(--w-sinistra));

}

.volantino {
    /* margin-top: 50px; */
    /* width: 100%;
    height: auto; */
    display: block;
    max-width: 100%;
    /* max-height:95px; */
    width: auto;
    height: auto;
}

footer {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    color: white;
}

.luogo {
    background-color: rgb(167, 240, 167);
}

.rg-pers {
    background-color: var(--col-tre);
}

.persone {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 30px;
    border-radius: 30px;
    margin: 20px 0;
    background-color: rgb(141, 222, 195);

}

.persona>.nome {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
}

.cento {
    width: 100%;
}

.icona {
    margin-right: 20px;
}

.contatto {
    display: flex;
    /* justify-content: space-between; */
    /* width: 170px; */
    margin-bottom: 10px;
}



@media screen and (max-width: 1240px) {

    * {
        /* var(--w-carosello) */
        --w-carosello: 1000px;

    }

}

@media screen and (max-width: 1050px) {

    * {
        /* var(--w-carosello) */
        --w-carosello: 900px;

    }

}

@media screen and (max-width: 920px) {

    * {
        /* var(--w-carosello) */
        --w-carosello: 800px;

    }

}

@media screen and (max-width: 900px) {
    .indietro_macro {
        display: none;
    }

    .carosello {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: auto;
    }

    .avanti_macro {
        display: none;
    }

    .comandi {
        display: flex;
    }

    .didascalia {
        display: none;
    }

    .colonna {
        width: 100%;
    }

    .vereinfo {
        flex-direction: column;
    }


    .sinistra {
        width: 100%;
    }

    .cont-vol {
        width: 100%;
    }


}

@media screen and (max-width: 410px) {
    .riga {
        padding: 10px;
    }
}